body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 80%;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #444;
}


select#role {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    font-weight: bold;
}

@media (max-width: 768px) {
    /* Styles for small screens */
    table {
        font-size: 14px;
    }

    table th, table td {
        padding: 8px;
    }

    .search-form input {
        width: 200px;
    }

    .pagination a {
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    /* Styles for extra-small screens */
    table {
        font-size: 12px;
    }

    table th, table td {
        padding: 6px;
    }

    .search-form input {
        width: 150px;
    }

    .pagination a {
        padding: 4px 8px;
    }
}
